@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  overflow: hidden;
}

body {
  background-color: #444444;
  text-align: center;
  position: relative;
}

.bubbles {
  position: absolute;
  left: 20px;
  top: 100px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.bubbles:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.bubbles__second {
  position: absolute;
  left: 220px;
  top: 300px;
  max-width: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.bubbles__second:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.bubbles__third {
  position: absolute;
  left: 250px;
  top: 100px;
  max-width: 90px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.bubbles__third:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.first, .second, .third {
  -webkit-transition: all 1s;
  transition: all 1s;
  border-radius: 20px;
}

.first:hover, .second:hover, .third:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.first:active, .second:active, .third:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  margin: 40px 40px 0px 40px;
}

.container {
  max-width: 900px;
  min-height: 1200px;
  margin: 0px auto;
}

.block {
  background-color: rgba(39, 39, 39, 0.438);
  min-height: 550px;
  margin: 0px 0px 0px 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px #242323;
          box-shadow: 0px 0px 20px #242323;
}

.block__gallery {
  padding: 20px 0px 0px 0px;
  margin: 40px 0px 0px 0px;
}

.block__title {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.block__text {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 7px 0px 0px 0px;
  font-size: 16px;
}

.block__img {
  margin: 50px 0px 0px 0px;
  max-width: 300px;
  max-height: 400px;
}

.first {
  margin: 40px 0px 0px 0px;
}

.second {
  margin: 40px 0px 0px 10px;
}

.third {
  margin: 40px 0px 0px 10px;
}
